<%include ./partials/header %>
<div class = 'container'>
  <img src="http://www.marist.edu/studentlife/rotc/ROTC%20Banner.png" class="img-fluid" alt="Responsive image">
</div>
<body>
  <div class='container'>
      <h1>About Army ROTC</h1>
      <p>
        Army ROTC provides college students the skills and leadership training to become officers in the United States Active Army, Army Reserve, and Army National Guard.
      </p>
      <p>
        Cadets develop maturity, responsibility, leadership ability, self-confidence, and other qualities essential to success in any field. The program stresses written and oral communication, physical training, first aid, land navigation, and ethics.
      </p>
      <p>
        Upon successful completion of ROTC, Cadets receive commissions as second lieutenants in one of the Army's specialized branches.
      </p>

      <h3>Benefits</h3>

      <ul>
        <li>2, 3, and 4-year scholarships that cover full tuition and fees or room and board are available to qualified applicants and Cadets.</li>
        <li>$1200 annually for books and expenses.</li>
        <li>$300-$500 per month tax-exempt spending allowance for contracted Cadets.</li>
      </ul>

      <h3>Curriculum</h3>
      <p>Freshmen and sophomores enroll in a 1/2 -credit course, which meets for 3 ½ hours during one day a week. In the classroom portion of instruction they study subjects including leadership, team building, problem solving, and oral communication. During the lab portion of the curriculum, they receive training on first aid, land navigation, tactics, marching, and marksmanship.</p>
      <p>Cadets also participate in Physical Training (PT) three days a week in the morning. Cadets learn how to conduct PT to the Army standard while increasing their flexibility, endurance, muscular strength, and aerobic capacity.</p>
      <p>In addition to the classroom and lab instruction and PT, Cadets participate in one Field Training Exercise (FTX) over a weekend per semester. Cadets receive more in-depth training on subjects covered in class and lab. In addition, they are given the opportunity to go to a rifle marksmanship range, rappel, and train with Cadets from neighboring schools.</p>
      <p>Juniors and seniors enroll in a 3-credit course that meets for 1 ½ hours one day a week in addition to the 3 ½ hour course that freshmen and sophomores attend. They study subjects including advanced leadership and management, small-unit tactics, and military ethics.</p>

      <h3>Obligations</h3>
      <p>No obligation during freshmen and sophomore years for non-scholarship cadets.</p>
      <p>Commissioned second lieutenants serve on active, reserve or National Guard duty.</p>
      <p>To join Army ROTC, you must be:</p>
      <ul>
        <li>Age requirement: Maximum 30 years of age for scholarships</li>
        <li>Age requirement: Maximum 34 years of age for non-scholarships(exceptions considered)</li>
        <li>A U.S. Citizen in good health</li>
        <li>A freshman or sophomore</li>
<li>A full-time college student</li>
        <li>To join you must be an undergraduate or graduate with two years remaining.</li>
      </ul>

      <h3>Partnership Program</h3>
      <p>Students enrolled at Adelphi University, SUNY Farmingdale, SUNY Stony Brook, Molloy College, C.W. Post, NYIT, Old Westbury, Suffolk and Nassau Community Colleges, and other colleges on Long Island may, and often do, enroll in ROTC at Hofstra. Cadets from the same or nearby schools often carpool to training.</p>
    <div>



</body>





<%include ./partials/footer %>
