<%include ./partials/header %>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/conops/september">September</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/conops/october">October</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/conops/november">November</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/conops/december">December</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/conops/january">January</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/conops/february">February</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/conops/march">March</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/conops/april">April</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/conops/may">May</a>
  </li>
</ul>


<body>
  <h1>
    TODAY's PT CONOP - 03MAR17
  </h1>
  <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTTijB7EgNn4jQ4s-xupEbD0CCLhVKhKC_L0l4MbfAqMoEX6nsKUT_zzUQ-BYfrn3eW2NybZl-0jaS8/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</body>

<%include ./partials/footer %>
