<%include ./partials/header %>
<div class = 'container'>
  <img src="https://www.ccny.cuny.edu/sites/default/files/styles/top_slider/public/rotc_slider_1.jpg?itok=ZoAQkTkA" class="img-fluid" alt="Responsive image"  width="500" height="200">
<div class="starter"><h1>Cadre and Staff</h1>

<div class="row">
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<p>LTC Jeremy T. Lingenfelser<br> Professor of Military Science/Department Chair<br> Phone: (516) 463-5648<br> Office: Oak Street Center (room 019)<br> <a href="mailto:Jeremy.Lingenfelser@hofstra.edu" target="_blank"><strong>Email</strong></a></p>
<hr class="dashline">
<p>MSG Joshua Kazaka<br> Senior Military Instructor<br> Phone: (516) 463-6031<br> Office: Oak Street Center (room 021)<br> <a href="mailto:joshua.kazaka@hofstra.edu" target="_blank"><strong>Email</strong></a></p>
<hr class="dashline">
<p>CPT Jerry Blackwell<br> Assistant Professor of Military Science<br> Phone: (516) 463-7595<br> Office: Oak Street Center (room 015)<br> <a href="mailto:jerry.a.blackwell@hofstra.edu" target="_blank"><strong>Email</strong></a></p>
<hr class="dashline">
<p>SFC Adony Batista<br> Assistant Professor of Military Science<br> Phone: (516) 463-6502<br> Office: Oak Street Center (018)<br> <a href="mailto:adony.batista@hofstra.edu" target="_blank"><strong>Email</strong></a></p>
<hr class="dashline">
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<p>MAJ Franklyn D. Bruch<br> Assistant Professor of Military Science<br> Phone: (516)463-5648<br> Office: 01<br> <a href="mailto:Franklyn.D.Bruch@hofstra.edu" target="_blank"><strong>Email</strong></a></p>
<hr class  = 'dashline'>
<p>CPT David M. Biemer<br> Assistant Professor of Military Science<br> Phone: (516) 463-6380&nbsp;<br> Office: Oak Street Center (room 014)<br> <a href="mailto:David.Biemer@hofstra.edu" target="_blank"><strong>Email</strong></a></p>
<hr class="dashline">
<p>Wilfred R. Massidas<br> Enrollment and Scholarship Officer<br> Phone: (516) 463-7682<br> Office: Oak Street Center (room 134)<br> <a href="mailto:Wilfred.Massidas@hofstra.edu" target="_blank"><strong>Email</strong></a></p>
<hr class="dashline">
<p>Ivan Lobanov<br> Supply Tech<br> Phone: (516) 463-6501<br> Office: Oak Street Center (room 025)<br> <a href="mailto:ivan.lobanov@hofstra.edu" target="_blank"><strong>Email</strong></a></p>
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<p>Jennifer Wilkinson<br> Human Resource Specialist<br> Phone: (516) 463-5311<br> Office: Oak Street Center (room 022)<br> <a href="mailto:Jennifer.Wilkinson@hofstra.edu  " target="_blank"><strong>Email</strong></a></p>
<hr class="dashline">
<p>Shari Greenberg<br> Secretary<br> Phone: (516) 463-5648<br> Office: Oak Street Center (room 135)<br> <a href="mailto:mlsslg@hofstra.edu" target="_blank"><strong>Email</strong></a></p>
</div>


</div>

</div></div></div>




<%include ./partials/footer %>
