<%include ./partials/header %>
<h1>Control Panel:</h1>
<div class="container">
<div class="row">
    <div class="col-lg-6 col-xs-6">
      <ul class="list-group">
        <li class="list-group-item"><%= cadetUser.first %></li>
        <li class="list-group-item"><%= cadetUser.last %></li>
        <li class="list-group-item"><%= cadetUser.email %></li>

      </ul>

    </div>
    <div class="col-lg-6 col-xs-6">
      <div class="col-lg-2 col-lg-push-10 col-md-2 col-md-push-0 col-sm-2 col-sm-push-0 col-xs-2 col-xs-push-0">
        <div class="pull-right">
<iframe src="https://discordapp.com/widget?id=442736539538030602&theme=dark" width="500" height="500" allowtransparency="true" frameborder="0"></iframe>
        </div>
      </div>
    </div>
</div>
</div>
<%include ./partials/footer %>
