<%include ./partials/header %>

  <body>
    <div class="jumbotron">
  <h1 class="display-4">Culper Battalion</h1>
  <hr class="my-4">
  <p>To recruit, train, and commission the next generation of United States Army officers.</p>
  <p class='lead'>
    <a class="btn btn-primary btn-lg" href="/about" role="button">About</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.facebook.com/TaskForceHavocROTC/" role="button">Facebook  Page</a>
  </p>

</div>

  </body>
</html>
<%include ./partials/footer %>
