<%include ./partials/header %>
<body>
<!-- Place this tag where you want the Awesome Table Widget to render -->
<div data-type="AwesomeTableView" data-viewID="-LDS3G-4WQDwzRawEopN"></div>
<!-- Place this within the <head> tag or just before the end of your <body> tag. -->
<script src="https://awesome-table.com/AwesomeTableInclude.js"></script>
</body>
<%include ./partials/footer %>
