<%include ../partials/header %>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/conops/september">September</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/conops/october">October</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/conops/november">November</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/conops/december">December</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/conops/january">January</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/conops/february">February</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/conops/march">March</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/conops/april">April</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/conops/may">May</a>
  </li>
</ul>

<body>
  <body>
  <iframe
  src="https://drive.google.com/embeddedfolderview?id=1zelmnxAEOONe4i7lRFEXhwGO8G4hbSpS#grid"
  style="width:100%; height:600px; border:2;">
  </iframe>
  </body>
</body>


<%include ../partials/footer %>
